Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: remove all .load() calls in main process and don't use extra chunked_array_type and chunks kwargs in open_datatree
  examples/30Dor.yaml
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

changes
  src/pfb_imaging/core/imager.py
Due: update-readme

fix: remove checks for file:// in ms_path
  .github/workflows/ci.yml
  src/pfb_imaging/core/imager.py
Due: update-readme

build: update xarray-ms and related packages. chore(imager): remove debug print statement
  pyproject.toml
  src/pfb_imaging/core/imager.py
  uv.lock
Due: update-cli-help, update-readme

fix(hci): negate sign of phase when injecting transients
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

test(hci): assert injected transient flux vs time and frequency
  tests/test_hci.py
Due: none

test: write all test outputs to tmp directory
  tests/test_kclean.py
  tests/test_polproducts.py
  tests/test_sara.py
Due: none

test(hci): assert injected transient lands at expected pixel
  tests/test_hci.py
Due: none

test(CI): update measures mirror
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix(init): make sure ra lies in [0, 2*pi) and enforce single phase dir over all datasets. Make time ordering optional (only really required when applying gains)
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

fix(imager): lift channel weights assignment out of averaging if statement
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

fix: trim file:// from ms_path
  src/pfb_imaging/core/imager.py
Due: update-readme

fix(imager): filter by field, spw and scan during metadata traversal. fix(init): set max_freq and max_blength globally
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/utils/stokes2vis.py
Due: update-readme

build(CI): use different mirror for measures download
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

test: import xarray_ms early in conftest to avoid refusal to load xarray-ms:msv2 backend
  tests/conftest.py
Due: none

build: depend on xarray-kat>=0.0.6 and use casa sign convention by default. Upgrade ray>=0.2.55
  pyproject.toml
  src/pfb_imaging/core/imager.py
  uv.lock
Due: update-cli-help, update-readme

build: python 3.11-3.13
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: update-cli-help

build: update uv.lock
  uv.lock
Due: none

test: set RAY_ENABLE_UV_RUN_RUNTIME_ENV=0 before importing ray in conftest
  .rayignore
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: update-cli-help

test: split imager test into separate CI run to avoid symbol conflicts between acrae and casacore
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  tests/conftest.py
Due: none

fix: repsond to copilot
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

docs: add clarifying comments from sjperkins
  src/pfb_imaging/core/imager.py
Due: update-readme

Support reading directly from the MeerKAT archive + transition to MSv4 format (#245)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .rayignore
  Dockerfile
  examples/30Dor.yaml
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/conftest.py
  tests/test_imager.py
  uv.lock
Due: update-cli-help, update-readme

fix: make numba-cache-dir an implicit output and hardcode it to /tmp/numba when running with container backend
  Dockerfile
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

fix(cabs): set must_exist to false on log-directory and fits-output-folder everywhere
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

ci(dependabot): restructure dependabot to unify minor patches
  .github/dependabot.yml
Due: none

fix: make sure numba-cache-dir exists at mount time
  Dockerfile
Due: none

Fatalii Busy Week hot fixes branch (#243)
  .github/dependabot.yml
  Dockerfile
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

build: allow python 3.10 for lightweight installs
  pyproject.toml
  uv.lock
Due: update-cli-help

build: allow python 3.10 for lightweight installs (#249)
  pyproject.toml
  uv.lock
Due: update-cli-help

fix(hci): remove beam flipping hack that aligns reprojected suricat beam with output fits files
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix(tests): don't set NUMBA_NUM_THREADS in set_envs and remove hardcoded env vars from CI
  .github/workflows/ci.yml
  src/pfb_imaging/__init__.py
  tests/conftest.py
Due: update-readme

fix: don't set NUMBA_NUM_THREADS in set_envs()
  src/pfb_imaging/__init__.py
Due: update-readme

fix: don't set NUMBA_NUM_THREADS in set_envs() (#250)
  src/pfb_imaging/__init__.py
Due: update-readme

chore: bump version to 0.0.10
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

docs(imager): add DataTree design spec and implementation plan
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
Due: none

refactor: keep python-casacore off the gridding/FITS import path
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

docs(imager): revise spec/plan to extend existing modules, drop shims
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
Due: none

feat(imager): add reduce_counts weighting grouping
  src/pfb_imaging/utils/weighting.py
  tests/test_weighting.py
Due: update-readme

feat(imager): pass-1 stokes_vis writes scratch DataTree + per-piece counts
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager.py
Due: update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
