Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: implementation plan for imager concat_row
  docs/superpowers/plans/2026-06-24-imager-concat-row.md
Due: none

feat(imager): expose concat_row CLI option
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
Due: update-readme

docs(imager): note single-pointing-per-band assumption in concat_row
  src/pfb_imaging/core/imager.py
Due: update-readme

feat(imager): adopt MSv4-idiomatic access patterns from PR #252 review
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

build: remove explicit arcae dependency (let xarray-ms pull that in)
  pyproject.toml
Due: update-cli-help

fix(imager): make data-group/partition-columns help round-trip cleanly
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
Due: update-readme

build: sync uv.lock with arcae dependency removal
  uv.lock
Due: none

feat: add example recipes showing how to make dirty images via the two different routes (init+grid vs imager)
  examples/dirty_via_imager.yml
  examples/dirty_via_init_and_grid.yml
Due: none

fix: parameter names in example recipes
  examples/dirty_via_imager.yml
  examples/dirty_via_init_and_grid.yml
Due: none

chore: add tmp to gitignore
  .gitignore
Due: none

perf(imager): fix pass-1 memory blow-up and read amplification
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

perf(imager): trim driver/pass-2 overheads; fix .dt FITS epoch
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

perf(imager): unpin pass-1 inputs, stream counts reduction, add memory telemetry
  .claude/rules/architecture.md
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

perf(imager): evict xarray-ms table cache between pass-1 tasks
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

docs: delete outdated msv4-review-request
  docs/msv4-review-request.md
Due: none

docs: capture MSv4/Ray memory patterns and agent workflow lessons
  .claude/rules/architecture.md
  .claude/rules/python-standards.md
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/msv4-memory-patterns.md
Due: none

docs: design spec for Protocol-based general deconv interface
  docs/superpowers/specs/2026-07-06-gendeconv-protocols-design.md
Due: none

docs: implementation plan for Protocol-based deconv interface
  docs/superpowers/plans/2026-07-06-gendeconv-protocols.md
Due: none

feat(deconv): add Protocol seams for composable deconvolution
  src/pfb_imaging/deconv/__init__.py
  src/pfb_imaging/operators/__init__.py
  src/pfb_imaging/opt/__init__.py
  tests/test_protocols.py
Due: update-readme

feat(prox): add IdentityPsi and public positivity proxes
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/prox/positivity.py
  tests/test_protocols.py
Due: update-readme

feat(prox): add L1 regulariser (ISTA building block)
  src/pfb_imaging/prox/l1.py
  tests/test_regularisers.py
Due: update-readme

feat(prox): add L21 regulariser owning reweighting state
  src/pfb_imaging/prox/l21.py
  tests/test_regularisers.py
Due: update-readme

refactor(opt): concrete ForwardBackward with generic tight-frame prox
  src/pfb_imaging/deconv/sara_fb.py
  src/pfb_imaging/opt/forward_backward.py
  tests/test_forward_backward.py
Due: update-readme

refactor(opt): concrete PrimalDual with internal warm-started dual
  src/pfb_imaging/deconv/sara.py
  src/pfb_imaging/deconv/sara_pd.py
  src/pfb_imaging/opt/primal_dual.py
  tests/test_primal_dual.py
Due: update-readme

feat(opt): add PCG ForwardSolver with duck-typed distributed path
  src/pfb_imaging/opt/pcg.py
  tests/test_pcg_solver.py
Due: update-readme

feat(operators): HessTreeRay band-actor Hessian with in-actor CG
  src/pfb_imaging/operators/hessian.py
  tests/test_hess_tree_ray.py
Due: update-readme

feat(deconv): PFBSolver composition and ReweightOnConverge
  src/pfb_imaging/deconv/pfb.py
  tests/test_pfb_solver.py
Due: update-readme

fix(deconv): use DiagOp in PFBSolver tests and correct reweight_active default
  src/pfb_imaging/deconv/pfb.py
  tests/test_pfb_solver.py
Due: update-readme

fix(deconv): reweight_active means stop-at-convergence for the driver
  src/pfb_imaging/deconv/pfb.py
  tests/test_pfb_solver.py
Due: update-readme

feat(deconv): sara/ista preset factories and registry
  src/pfb_imaging/deconv/presets.py
  tests/test_pfb_solver.py
Due: update-readme

feat(deconv): DataTree-native Ray-distributed deconv driver
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
Due: update-readme

fix(deconv): resolve the .dt store at <output>_<product>.dt, not _<suffix>.dt
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
Due: update-readme

fix(deconv): feed HessianTree abs(PSFHAT), not the raw complex FFT
  src/pfb_imaging/core/deconv.py
Due: update-readme

fix(deconv): preserve band-node attrs when writing results back to the .dt
  src/pfb_imaging/core/deconv.py
Due: update-readme

fix(psi): fractional Ray CPU claim per PsiNocopytRay actor
  src/pfb_imaging/operators/psi.py
Due: update-readme

test(deconv): end-to-end equivalence vs legacy sara path
  tests/test_deconv.py
Due: none

docs(deconv): document Protocol framework; drop stale protocol names
  .claude/rules/architecture.md
  src/pfb_imaging/deconv/README.md
  src/pfb_imaging/operators/__init__.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

fix(deconv): nominal Ray CPU claims for band actors, residual-task GC
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/psi.py
Due: update-readme

test(deconv): add multi-band driver smoke test
  tests/test_deconv.py
Due: none

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
