Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

refactor: add to_unix_time helper and derive counts signs from wgridder_conventions
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

feat(imager): add focused per-partition pass-2 gridder
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

feat(util): add to_unix_time utility + test that ensures compatibility with casacore.quanta.quantity and astropy.time.Time
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis.py
  tests/test_unix_time_conversion.py
Due: update-readme

feat(imager): add residual_from_partitions for per-major-cycle gradient
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

feat(imager): add HessianTree sum-over-partitions PSF Hessian
  src/pfb_imaging/operators/hessian.py
  tests/test_hessian_tree.py
Due: update-readme

feat(imager): add tree-aware dt2fits export
  src/pfb_imaging/utils/fits.py
  tests/test_fits_tree.py
Due: update-readme

perf(imager): preallocate HessianTree FFT scratch for actor reuse
  src/pfb_imaging/operators/hessian.py
Due: update-readme

feat(imager): wire two-pass DataTree pipeline + CLI
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

test(imager): subprocess-isolated init+grid equivalence + scratch cache
  tests/test_imager.py
Due: none

docs(imager): mark DataTree plan complete
  docs/superpowers/plans/2026-06-04-imager-datatree.md
Due: none

docs: document the DataTree imager and arcae/casacore constraint for agents
  .github/copilot-instructions.md
  CLAUDE.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
Due: none

feat(imager): make imager produce a datatree that unifies the data products produced by init+grid. Add agent context docs for review
  .claude/rules/architecture.md
  .claude/rules/python-standards.md
  .claude/rules/testing-and-ci.md
  .claude/scheduled_tasks.lock
  .gitignore
  docs/superpowers/plans/2026-05-26-hci-inject-transients-test.md
  docs/superpowers/specs/2026-04-18-super-uniform-weighting-design.md
  docs/superpowers/specs/2026-05-26-hci-inject-transients-test-design.md
  scripts/genfuncs.sh
Due: none

test(imager): print additional diagnostic info
  tests/test_imager.py
Due: none

chore(imager): regenerate imager CLI signature from cabs
  src/pfb_imaging/cli/imager.py
Due: update-readme

fix(test): compare imager/init+grid MFS without dividing by a zero peak
  tests/test_imager.py
Due: none

docs(test): document the zero-DATA test-MS limitation in the imager equivalence test
  tests/test_imager.py
Due: none

fix(imager): grid COUNTS on the imaging cell, not the beam-grid cell
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

fix(imager): label HessianTree's leading axis ncorr and validate it
  src/pfb_imaging/operators/hessian.py
Due: update-readme

docs(test): fix quantity typo in unix-time conversion docstring
  tests/test_unix_time_conversion.py
Due: none

chore: stop tracking .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

docs: add look-ahead register for deferred imager follow-ups
  docs/look-ahead.md
Due: none

docs: add MSv4/arcae review request for PR #252
  docs/msv4-review-request.md
Due: none

fix: pass --ray-address local by default, drop incompatible kwargs when not using local cluster
  scripts/genfuncs.sh
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/restore.py
  tests/test_init_ray.py
Due: update-readme

fix: break ray_init call over multiple lines with trailing commas
  src/pfb_imaging/core/hci.py
Due: update-readme

Pass --ray-address "local" by default (#255)
  scripts/genfuncs.sh
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/restore.py
  tests/test_init_ray.py
  uv.lock
Due: update-readme

chore: reset container image name to match branch
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

docs: inline sjperkins' MSv4 review responses
  docs/msv4-review-request.md
Due: none

docs: add plan to remove arcae/casacore process-separation guardrails
  docs/superpowers/plans/2026-06-15-remove-arcae-casacore-guardrails.md
Due: none

deps: require arcae>=0.5.2 for python-casacore coexistence
  pyproject.toml
  uv.lock
Due: update-cli-help

test: run init+grid equivalence reference in-process
  tests/test_imager.py
Due: none

ci: run the test suite as a single pytest invocation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

docs: arcae 0.5.2 coexists with casacore; drop test-split guardrails
  .claude/rules/architecture.md
  .claude/rules/testing-and-ci.md
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: annotate historical specs/plans superseded by arcae 0.5.2
  docs/look-ahead.md
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
Due: none

fix: comment reprojection block
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix: check if freq_out going into beam_for_band is an array select out item
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix: typo+import trailing comma
  src/pfb_imaging/core/imager.py
Due: update-readme

fix(imager): remove concurrent zarr consolidation race in writes
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

docs: spec for imager concat_row (collapse time, concat before gridding)
  docs/superpowers/specs/2026-06-24-imager-concat-row-design.md
Due: none

refactor(imager): _grid_image reads node list, writes explicit node
  src/pfb_imaging/core/imager.py
Due: update-readme

feat(imager): concat_row collapses time, grids each band once
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme
