Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: share one imaged ground-truth tree across the e2e tests
  tests/conftest.py
  tests/test_deconv.py
  tests/test_preconditioner_consistency.py
  tests/test_restore.py
Due: none

test: share the identical default-mop driver run
  tests/test_deconv.py
Due: none

test: warn that mop_ds is lazily backed and must not be written
  tests/test_deconv.py
Due: none

refactor: delete the two opt oracles nothing calls
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/opt/fista.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

docs: stamp wiki pages verified at ec5e7f7
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
Due: none

docs: fold deleted primal_dual's nu note into primal_dual_numba
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

test: run test_naming on installs without dask-ms
  .claude/rules/testing-and-ci.md
  tests/test_naming.py
Due: none

test: share one imager run between the gt and per-partition tests
  tests/test_imager.py
Due: none

chore: drop the inert .rayignore and its runtime_env plumbing
  .rayignore
  tests/conftest.py
Due: none

fix(tests): give MS-writing tests a private copy of the session MS
  tests/conftest.py
  tests/test_hci.py
  tests/test_imager_pol.py
Due: none

docs: record the measured suite timings and fixture discipline
  .claude/rules/testing-and-ci.md
  CLAUDE.md
Due: none

test: restore dot-segment coverage and harden shared fixtures
  tests/conftest.py
  tests/test_deconv.py
  tests/test_imager.py
  tests/test_naming.py
Due: none

docs: correct stale rule, wiki and pyproject test-loop references
  .claude/rules/architecture.md
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  pyproject.toml
Due: update-cli-help

docs: restamp design-decisions after citation fix
  docs/wiki/design-decisions.md
Due: none

docs: correct test counts after the dot-segment cases
  .claude/rules/testing-and-ci.md
  CLAUDE.md
Due: none

docs: add consistency gates for the wiki and agent files
  scripts/check_docs.py
Due: none

docs: cut investigation narrative from D30
  docs/wiki/design-decisions.md
Due: none

docs: cut narrative from D22, D24, D26, D38
  docs/wiki/design-decisions.md
Due: none

docs: reflow D19-D23 and trim D28, D29
  docs/wiki/design-decisions.md
Due: none

docs: tombstone D2, D14, D43 and tighten Known debt
  docs/wiki/design-decisions.md
Due: none

docs: move test-suite rationale to D44/D45, sharpen the rules
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  pyproject.toml
Due: update-cli-help

docs: cut architecture.md sections 6 and 8 to imperatives
  .claude/rules/architecture.md
Due: none

docs: dedupe the Typer section and repair a corrupted line
  .claude/rules/architecture.md
  .claude/rules/python-standards.md
Due: none

docs: cut CLAUDE.md to routing and always-on lessons
  CLAUDE.md
Due: none

docs: remove the msv4-memory-patterns redirect stub
  docs/msv4-memory-patterns.md
Due: none

docs: drop the completed look-ahead item and collapse a fixed MSv4 issue
  docs/look-ahead.md
  docs/msv4_issues.md
Due: none

docs: state the layering contract in the wiki index
  docs/wiki/image-and-beam-orientation.md
  docs/wiki/index.md
Due: none

docs: close the review findings and harden the gates
  .claude/rules/architecture.md
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  scripts/check_docs.py
Due: none

docs: restore measured bounds and kernel invariants to D30
  docs/wiki/design-decisions.md
Due: none

feat(imager): add antenna classification and baseline-group masks
  src/pfb_imaging/utils/baselines.py
  tests/test_baselines.py
Due: update-readme

feat(imager): guard baseline-group requests before Ray init
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

feat(imager): partition pass 1 by baseline group
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

feat(imager): per-group beams, storing Re(B) for the cross group
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager.py
  tests/test_stokes2vis_msv4.py
Due: update-readme

feat(imager): expose --baseline-groups and --antenna-groups
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

docs: record baseline-group partitioning decisions D46 and D47
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
Due: none

fix(imager): surface the Re(B) diagnostic and refuse an ignored option
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  scripts/check_docs.py
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

fix(imager): build only the beam wizards the data needs; refuse NaN diameters
  .claude/rules/testing-and-ci.md
  scripts/check_docs.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/baselines.py
  tests/test_baselines.py
  tests/test_imager.py
Due: update-readme

refactor(imager): compare dish diameters exactly, drop the clustering tolerance
  .claude/rules/testing-and-ci.md
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  scripts/check_docs.py
  src/pfb_imaging/utils/baselines.py
  tests/test_baselines.py
Due: update-readme

ci(docs): measure test counts instead of pinning them
  .claude/rules/testing-and-ci.md
  scripts/check_docs.py
Due: none

deps: require meerkat-beams 0.1.0 and test the real group beam path
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  pyproject.toml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/hci.py
  tests/test_imager.py
  uv.lock
Due: update-cli-help, update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
