Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

add ABC PrimalDual class + some tests for PrimalDual algorithm
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/model2comps.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/recipes/sara.yml
  tests/test_primal_dual.py
Due: update-readme

remove parallel in some wavelet functions to shut numba up
  src/pfb_imaging/wavelets/wavelets.py
  tests/test_primal_dual.py
Due: update-readme

add profiling scripts + try to make ruff happy
  pyproject.toml
  scripts/profile_pcg.py
  scripts/profile_power_method.py
  scripts/profile_primal_dual.py
  src/pfb_imaging/deconv/sara.py
  src/pfb_imaging/deconv/sara_pd.py
Due: update-cli-help, update-readme

psiH->psih in l1_reweight_func
  src/pfb_imaging/core/sara.py
Due: update-readme

fix suffix for init cab outputs
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cli/init.py
Due: update-readme

start adding general deconv app in favour of individual apps for all different minor cycles
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/README.md
  src/pfb_imaging/deconv/__init__.py
  src/pfb_imaging/deconv/sara_pd.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

test different wavelet optimization patterns
  pyproject.toml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/sara.py
  src/pfb_imaging/deconv/sara_fb.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/opt/forward_backward.py
  src/pfb_imaging/utils/weighting.py
  src/pfb_imaging/wavelets/__init__.py
  src/pfb_imaging/wavelets/wavelets.md
  src/pfb_imaging/wavelets/wavelets.py
  tests/test_wavelets.py
  tests/test_wavelets_optimized.py
  uv.lock
Due: update-cli-help, update-readme

add polyphase convolutions to speed up wavelet transforms
  scripts/profile_dwt2d.py
  scripts/profile_dwt_convolutions.py
  scripts/profile_polyphase.py
  scripts/profile_wavelets.py
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/weighting.py
  src/pfb_imaging/wavelets/__init__.py
  src/pfb_imaging/wavelets/convolutions.py
  src/pfb_imaging/wavelets/wavelets.py
  tests/conftest.py
  tests/test_primal_dual.py
  tests/test_wavelets.py
  tests/test_wavelets_optimized.py
  tests/test_weighting.py
Due: update-readme

add ray actor version of psi and some profiling notes
  CLAUDE.md
  scripts/profile_dwt_convolutions.py
  scripts/profile_polyphase.py
  scripts/profile_wavelets.py
  scripts/profiling.md
  src/pfb_imaging/operators/psi.py
Due: update-readme

Add HISTORY.rst file
  HISTORY.rst
Due: none

fix issue with image tags
  pyproject.toml
  scripts/generate_cabs.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-cli-help, update-readme

remove scripts/generate_cabs.py, just call hip-cargo generate-cabs directly in pre-commit
  .github/workflows/update-cabs.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/generate_cabs.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  tbump.toml
Due: update-cli-help, update-readme

correct image name in pyproject.toml
  pyproject.toml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-cli-help

update tbump config to generate the cabs before commit
  pyproject.toml
  tbump.toml
  uv.lock
Due: update-cli-help

Consolidate dependabot PRs (#202)
  .github/workflows/publish-container.yml
  .github/workflows/update-cabs.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/generate_cabs.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

use hip-cargo generate-cabs command instead of old script in update_cabs workflow [skip ci]
  .github/workflows/update-cabs.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

remove stale checks for changes to CLI functions in update cabs workflow
  .github/workflows/update-cabs.yml
Due: none

[skip ci]
  scripts/profile_dwt_convolutions.py
Due: none

Fix update cabs workflow (#204)
  .github/workflows/update-cabs.yml
  scripts/profile_dwt_convolutions.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

add ability to dispatch update cabs manually [skip ci]
  .github/workflows/update-cabs.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

add ability to dispatch update cabs manually [skip ci] (#205)
  .github/workflows/update-cabs.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

configure update cabs to use github app [skip ci]
  .github/workflows/update-cabs.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

add names for tests in CI
  .github/workflows/ci.yml
Due: none

testing CI bypass [skip ci]
  scripts/profile_polyphase.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

Useapptoupdatecabs2 (#207)
  .github/workflows/ci.yml
  .github/workflows/update-cabs.yml
  scripts/profile_polyphase.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

remove dirt comment
  scripts/profile_polyphase.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

cosmetic changes [skip ci]
  .github/copilot-instructions.md
  CLAUDE.md
  HISTORY.rst
  README.rst
Due: none

remove dirt comment (#208)
  .github/copilot-instructions.md
  CLAUDE.md
  HISTORY.rst
  README.rst
  scripts/profile_polyphase.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

update dependabot config
  .github/dependabot.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: none

do not divide by (1+eta) when no beam model passed in. Expose wgt-mode in sara and kclean recipes
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/recipes/kclean.yml
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

don't wrap ra in stokes2im
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix wgt-mode info string and also pass it to init in kclean
  src/pfb_imaging/recipes/kclean.yml
  src/pfb_imaging/recipes/sara.yml
Due: none

Fix flux suppression issue in `hci` (#215)
  .github/dependabot.yml
  .github/workflows/update-cabs.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/recipes/kclean.yml
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/utils/stokes2im.py
  uv.lock
Due: update-readme

Add minor change to psf fit.
  src/pfb_imaging/utils/misc.py
Due: update-readme

Begin adding tests fro cleam beam fitting.
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

Add additional test.
  tests/test_convolve2gaussres.py
Due: none

Attempt to get convention correct.
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

Placate ruff formatting.
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/utils/misc.py
Due: update-readme

Fix import.
  tests/test_convolve2gaussres.py
Due: none

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
