Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

fix(scripts): self-check the statistic that is reported, not the worst bin
  scripts/test_spi_ripples.py
Due: none

fix(convolution): reject xy-ordered grids instead of returning NaN
  docs/wiki/design-decisions.md
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/restoration.py
  tests/test_convolve2gaussres.py
  tests/test_restore.py
Due: update-readme

docs(wiki): stamp design-decisions at the issue312 tip
  docs/wiki/design-decisions.md
Due: none

chore(scripts): rename test_spi_ripples.py to check_spi_ripples.py
  docs/wiki/design-decisions.md
  scripts/check_spi_ripples.py
Due: none

docs: note that gh issue view and gh pr edit need gh api here
  CLAUDE.md
Due: none

fix(deconv): close four review gaps in the frequency prior
  docs/wiki/design-decisions.md
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/hessian.py
  tests/test_deconv_hess_norm_cache.py
  tests/test_pfb_solver.py
Due: update-readme

feat(hessian): expose the preconditioner's prior term as prior_dot
  src/pfb_imaging/operators/hessian.py
  tests/test_hess_tree_ray.py
Due: update-readme

feat(deconv): add --eta-in-grad to put the prior in the objective
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  tests/test_deconv.py
Due: update-readme

feat(deconv): add --mop for the near-perfect-residual products
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  tests/test_deconv.py
  tests/test_restore.py
Due: update-readme

fix(deconv): mop against the data gradient, not the eta-corrected one
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/hessian.py
  tests/test_deconv.py
  tests/test_restore.py
Due: update-readme

docs(wiki): stamp design-decisions at the issue310-311 tip
  docs/wiki/design-decisions.md
Due: none

docs: deconv/ is the composable solver, not SARA/Hogbom/Clark
  CLAUDE.md
Due: none

docs: explain why hci's zarr coords need rounding (#155)
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
Due: update-readme

fix(hci): make --target recentre the scaffold, not just the workers
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/astrometry.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
Due: update-readme

deps: unify the nine open dependabot PRs into one lock update
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  uv.lock
Due: none

docs: correct the fast-loop test count after #321
  .claude/rules/testing-and-ci.md
  CLAUDE.md
Due: none

ci: stop dependabot raising routine version-update PRs [skip checks]
  .github/dependabot.yml
Due: none

docs(wiki): correct D14's arcae version claim to a commit constraint
  docs/wiki/design-decisions.md
Due: none

deps: pin xarray-ms write support and track pfb-model-spec main
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/restore.yml
  tests/test_degrid_msv4.py
  uv.lock
Due: update-cli-help, update-readme

refactor(msv4): lift get_engine and add shared node selection
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(degrid-msv4): create model columns, working around sync_msv2
  src/pfb_imaging/utils/degrid_msv4.py
  tests/conftest.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(degrid-msv4): build x-major region masks from a region file
  src/pfb_imaging/utils/degrid_msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(degrid-msv4): degrid a model into one time/frequency region
  src/pfb_imaging/utils/degrid_msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(degrid-msv4): add pre-flight model and tangent-point guards
  src/pfb_imaging/core/degrid_msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(degrid-msv4): add the Ray Serve degridder and driver
  src/pfb_imaging/core/degrid_msv4.py
  tests/conftest.py
  tests/test_degrid_msv4.py
Due: update-readme

feat(cli): register the degrid-msv4 sub-command
  src/pfb_imaging/cabs/degrid_msv4.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/degrid_msv4.py
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

test(degrid-msv4): add legacy parity and end-to-end null tests
  tests/test_degrid_parity.py
Due: none

docs(wiki): record the degrid-msv4 decisions and MSv4 write gotchas
  .claude/rules/architecture.md
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  docs/wiki/memory-and-ray.md
Due: none

docs: correct suite timings to the measured 722-test run
  .claude/rules/testing-and-ci.md
Due: none

fix(degrid-msv4): build the work list before starting Serve
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

fix(degrid-msv4): address Copilot review on #329
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  pyproject.toml
  src/pfb_imaging/cabs/degrid_msv4.yml
  src/pfb_imaging/cli/degrid_msv4.py
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
  src/pfb_imaging/utils/msv4.py
  tests/test_degrid_msv4.py
  uv.lock
Due: update-cli-help, update-readme

refactor(msv4): share node selection between imager and degrid-msv4
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  tests/conftest.py
  tests/test_degrid_msv4.py
Due: update-readme

docs: cite ratt-ru/xarray-ms#171 in the column-creation workaround
  src/pfb_imaging/utils/degrid_msv4.py
Due: update-readme

build: split casacore, distributed and x86-only deps into extras
  pyproject.toml
  uv.lock
Due: update-cli-help

refactor: keep the deconv path free of optional dependencies
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/optional.py
Due: update-readme

fix(arm): choose numba's threading layer from what is installed
  src/pfb_imaging/__init__.py
  src/pfb_imaging/operators/band_worker.py
Due: update-readme

test: cover the extras split and skip MS tests without casacore
  tests/conftest.py
  tests/test_coords.py
  tests/test_optional_extras.py
Due: none

ci: test aarch64 natively and publish a multi-arch image
  .github/workflows/ci.yml
  .github/workflows/publish-container.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

docs: document the extras and the aarch64 install
  .claude/rules/testing-and-ci.md
  .github/copilot-instructions.md
  README.md
Due: update-readme

ci: install BLAS for the casacore leg and actually test the threading layer
  .github/workflows/ci.yml
  Dockerfile
Due: none
