Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ci: run the slow set in acceptance.yml, not on every CI leg
  .claude/rules/testing-and-ci.md
  .github/workflows/acceptance.yml
  .github/workflows/ci.yml
  CLAUDE.md
  docs/wiki/design-decisions.md
Due: none

test(hci): request sky_truth in test_hci_writes_cube
  tests/test_hci.py
Due: none

ci: scope the acceptance job read-only and fix its concurrency key
  .github/workflows/acceptance.yml
  pyproject.toml
Due: update-cli-help

fix: default --epsilon to 1e-5 so --precision single works
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/misc.py
  tests/conftest.py
  tests/test_degrid.py
  tests/test_imager.py
  tests/test_imager_precision.py
Due: update-readme

fix: use ducc0's exact epsilon boundaries, and refuse non-finite ones
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/misc.py
  tests/test_imager_precision.py
Due: update-readme

fix(imager): refuse --gain-table instead of silently ignoring it
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager.py
Due: update-readme

fix(deconv): write the .mds, with the real image-centre offset
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/deconv.py
  tests/test_deconv.py
Due: update-readme

fix(deconv): keep the .mds fit an output, and drop bad recovery advice
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/utils/misc.py
  tests/test_deconv.py
Due: update-readme

feat(imager): split task RSS telemetry, add opt-in memray capture
  .claude/rules/testing-and-ci.md
  docs/wiki/memory-and-ray.md
  pyproject.toml
  scripts/memray_report.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/memprof.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_memprof.py
  uv.lock
Due: update-cli-help, update-readme

perf(imager): stream uv counts through the scratch store
  .claude/rules/testing-and-ci.md
  docs/wiki/imager-pipeline.md
  docs/wiki/memory-and-ray.md
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/weighting.py
  tests/test_weighting.py
Due: update-readme

perf(imager): read MFS PSFs from the .dt, not task returns
  .claude/rules/testing-and-ci.md
  docs/wiki/memory-and-ray.md
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

perf(misc): fit the clean beam on a bounded window
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/utils/misc.py
  tests/test_misc.py
Due: update-readme

deps: bump xarray-ms/arcae for the #177 and arcae#241 fixes
  docs/msv4_issues.md
  pyproject.toml
  uv.lock
Due: update-cli-help

refactor(imager): retire the wholesale MS cache eviction
  .claude/rules/architecture.md
  .claude/rules/testing-and-ci.md
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  docs/wiki/memory-and-ray.md
  scripts/msv4_issues/release_ms_caches_multipartition.py
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_degrid.py
Due: update-readme

perf(weighting): accumulate uv counts into a single grid
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  src/pfb_imaging/utils/weighting.py
  tests/test_imager_pass2.py
  tests/test_weighting.py
Due: update-readme

docs(wiki): record the #339 image-size memory measurements
  docs/wiki/memory-and-ray.md
Due: none

fix(memprof): make memray captures safe for cluster runs
  .claude/rules/testing-and-ci.md
  scripts/memray_report.py
  src/pfb_imaging/utils/memprof.py
  tests/test_memprof.py
Due: update-readme

perf(imager): detach loaded scratch pieces from the open tree
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/core/imager.py
  tests/test_imager_pass2.py
Due: update-readme

docs(wiki): record the scratch-piece detach measurement
  docs/wiki/memory-and-ray.md
Due: none

fix(imager): load MSv4 and scratch data detached from their trees
  .claude/rules/testing-and-ci.md
  docs/msv4_issues.md
  docs/wiki/memory-and-ray.md
  scripts/msv4_issues/datatree_cache_ignored.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/msv4.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager_pass2.py
Due: update-readme

perf(gridder): let pass 2 compute imaging weights in place
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

perf(imager): write pass-2 partitions in row slabs
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/core/imager.py
  tests/test_imager_pass2.py
Due: update-readme

docs: take timings and peaks from runs without memray
  docs/wiki/memory-and-ray.md
  scripts/memray_report.py
Due: none

ci(acceptance): keep plain PR comments out of the run's group
  .github/workflows/acceptance.yml
Due: none

fix(logging): send progress lines and uncaught errors to the log file
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/utils/logging.py
  tests/test_imager.py
  tests/test_logging.py
Due: update-readme

docs(wiki): progress lines are logged, not printed
  docs/wiki/memory-and-ray.md
Due: none

fix(misc): log the fitcleanbeam fit warning instead of printing it
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/utils/misc.py
  tests/test_misc.py
Due: update-readme

fix(logging): render progress telemetry verbatim on the console
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/logging.py
  tests/test_logging.py
Due: update-readme

fix(logging): open the run log before imager/deconv validation
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/imager.py
Due: update-readme

fix(ray): keep meerkat-beams' INFO lines out of worker output
  src/pfb_imaging/__init__.py
  tests/test_logging.py
Due: update-readme

fix(imager): explain missing baseline-group beams before building them
  .claude/rules/testing-and-ci.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/__init__.py
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

fix(ray): let the worker hook's TBB warning through
  .claude/rules/testing-and-ci.md
  src/pfb_imaging/__init__.py
  tests/test_logging.py
Due: update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
