Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Radiomesh-backed weight_data: stable numba cache across processes (#274)
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/utils/stokes.py
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  src/pfb_imaging/utils/weighting.py
  tests/test_hci.py
  tests/test_stokes_selector.py
  tests/test_weight_data_cache.py
  tests/test_weighting.py
  uv.lock
Due: update-cli-help, update-readme

chore: finalise wiki-consolidation post issue273 squash-merge
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/utils/stokes2im.py
  uv.lock
Due: update-readme

docs: address Copilot review on PR #275
  docs/look-ahead.md
  docs/wiki/imager-pipeline.md
Due: none

docs: fold specs/plans into the LLM wiki, make them ephemeral (#275)
  .claude/rules/architecture.md
  .gitignore
  CLAUDE.md
  docs/look-ahead.md
  docs/superpowers/plans/2026-05-26-hci-inject-transients-test.md
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/plans/2026-06-15-remove-arcae-casacore-guardrails.md
  docs/superpowers/plans/2026-06-24-imager-concat-row.md
  docs/superpowers/plans/2026-07-06-gendeconv-protocols.md
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  docs/superpowers/specs/2026-04-18-super-uniform-weighting-design.md
  docs/superpowers/specs/2026-05-26-hci-inject-transients-test-design.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
  docs/superpowers/specs/2026-06-24-imager-concat-row-design.md
  docs/superpowers/specs/2026-07-06-gendeconv-protocols-design.md
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  src/pfb_imaging/deconv/README.md
Due: none

docs: unify .dt placeholder; require documented lazy imports
  .claude/rules/architecture.md
  .claude/rules/python-standards.md
  CLAUDE.md
  docs/look-ahead.md
Due: none

fix(model2comps): replace dead log_inputs decorator with log_options_dict
  src/pfb_imaging/core/model2comps.py
Due: update-readme

refactor: hoist deferred imports to module scope; document the rest
  src/pfb_imaging/__init__.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/modelspec.py
  src/pfb_imaging/utils/stokes.py
  src/pfb_imaging/utils/stokes2vis.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  src/pfb_imaging/utils/weighting.py
Due: update-readme

docs: retire the casacore lazy-import exception from the rules
  .claude/rules/architecture.md
  .claude/rules/python-standards.md
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
Due: none

fix: default numba cache dir to a per-user temp directory
  src/pfb_imaging/__init__.py
  tests/test_numba_cache_dir.py
Due: update-readme

fix(docker): drop baked-in shared numba cache dir
  Dockerfile
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

docs(cli): describe the per-user numba cache default
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

docs(wiki): record per-user numba cache default (D18)
  docs/wiki/design-decisions.md
Due: none

fix(build): use rev-kind hip-cargo source; add .dockerignore
  .dockerignore
  pyproject.toml
  uv.lock
Due: update-cli-help

feat(hci): accept MeerKAT band names for --beam-model
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
Due: update-readme

fix(hci): reinstate beam reprojection with measured axis conventions
  docs/wiki/design-decisions.md
  docs/wiki/image-and-beam-orientation.md
  docs/wiki/index.md
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_beam_orientation.py
Due: update-readme

refactor(hci): make image-space arrays (Y, X)-ordered end to end
  docs/wiki/design-decisions.md
  docs/wiki/image-and-beam-orientation.md
  docs/wiki/index.md
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_beam_orientation.py
Due: update-readme

fix(hci): eagerly compute mappings and release MS handles per MS
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

fix: normalise negative phase-centre RA into [0, 2*pi)
  src/pfb_imaging/utils/misc.py
Due: update-readme

docs: add instructions for cleaning up after an interrupted run
  docs/wiki/index.md
  docs/wiki/memory-and-ray.md
Due: none

feat: add a similar fix for the beams cache as used for the numba cache
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

fix: also pass MBEAMS_CACHE_DIR into raylets
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

test: pin cache-dir defaults to /tmp; align docs with hard-coded root
  docs/wiki/design-decisions.md
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  tests/test_numba_cache_dir.py
Due: update-readme

test: deterministic predicted-sky + flags fixture for the imager
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tests/conftest.py
  tests/test_imager.py
Due: update-readme

test: ground-truth imager test via WCS; drop init+grid oracle
  tests/test_imager.py
Due: none

test: brute-force DFT oracle for the imager dirty image
  tests/test_imager.py
Due: none

test: port per-Stokes flux coverage from init+grid to imager
  tests/test_imager_pol.py
Due: none

test: deconv ground-truth recovery; drop legacy-sara oracle
  tests/test_deconv.py
Due: none

test: legacy tests clear persistent fixture flags before imaging
  tests/test_kclean.py
  tests/test_polproducts.py
  tests/test_sara.py
Due: none

refactor(gridder): (Y, X) image order in grid_partition and residual
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

refactor(imager): (Y, X) scratch beam, .dt dims and FITS write-out
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

refactor(deconv): (Y, X) Hessian, band workers and driver; e2e green
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/hessian.py
  tests/test_deconv.py
  tests/test_fits_tree.py
  tests/test_hessian_tree.py
Due: update-readme

docs(wiki): record (Y, X) canonical order on the imager path (D20)
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  docs/wiki/image-and-beam-orientation.md
  docs/wiki/imager-pipeline.md
  docs/wiki/memory-and-ray.md
Due: none

refactor!: retire init/grid/kclean/sara/fluxtractor subcommands
  src/pfb_imaging/cabs/cabs.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/precond.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/recipes/kclean.yml
  src/pfb_imaging/recipes/sara.yml
  tests/test_kclean.py
  tests/test_polproducts.py
  tests/test_sara.py
Due: update-readme

docs: single-front-end pipeline docs after legacy retirement
  .claude/rules/architecture.md
  CLAUDE.md
  README.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
Due: update-readme

fix: post-review wave -- old-.dt guard, doc corrections, orphan sweep
  README.md
  docs/look-ahead.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/clark.py
  src/pfb_imaging/deconv/hogbom.py
  src/pfb_imaging/deconv/nnls.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/psf.py
  tests/conftest.py
  tests/test_deconv.py
Due: update-readme

chore(wiki): point last_verified_commit at a pushed sha
  docs/wiki/design-decisions.md
Due: none

feat(scripts): MeerKLASS joint-imaging mosaic harness
  scripts/meerklass_mosaic.py
Due: none

feat(imager): rephase to a common phase centre; --phase-dir/--target
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_coords.py
  tests/test_hci.py
  tests/test_imager.py
Due: update-readme

docs(wiki): D21 rephasing decision; feat(scripts): acceptance mode fixes
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  scripts/meerklass_mosaic.py
Due: none

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
