Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

fix: quick fix for degrid-msv4
  scripts/deconv_qa.py
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
Due: update-readme

fix(degrid-msv4): load the model once per replica, not once per work item
  docs/wiki/design-decisions.md
  docs/wiki/memory-and-ray.md
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

docs(wiki): stamp last_verified_commit for the degrid cache fix
  docs/wiki/design-decisions.md
  docs/wiki/memory-and-ray.md
Due: none

feat(degrid-msv4): add --auto-corrs parameter to degrid-msv4
  src/pfb_imaging/cabs/degrid_msv4.yml
  src/pfb_imaging/cli/degrid_msv4.py
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/msv4.py
Due: update-readme

fix(degrid-msv4): create columns through a single-instance MAIN table
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
  src/pfb_imaging/utils/msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

docs(wiki): stamp last_verified_commit for the column-creation gotcha
  docs/wiki/design-decisions.md
Due: none

docs: track upstream MSv4 issues with runnable reproducers
  CLAUDE.md
  docs/msv4_issues.md
  scripts/msv4_issues/addcols_multi_instance_race.py
  scripts/msv4_issues/addcols_poisons_open_handles.py
  scripts/msv4_issues/sync_msv2_canonical_column.py
  scripts/msv4_issues/table_open_close_rss.py
Due: none

docs: make the handle-poisoning reproducer pure arcae
  docs/msv4_issues.md
  scripts/msv4_issues/addcols_poisons_open_handles.py
Due: none

docs: cite ska-sa/arcae#241 for the addcols resync bug
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  scripts/msv4_issues/addcols_multi_instance_race.py
  scripts/msv4_issues/addcols_poisons_open_handles.py
  src/pfb_imaging/utils/degrid_msv4.py
  src/pfb_imaging/utils/msv4.py
Due: update-readme

deps: move to xarray-ms/arcae 0.4.0a11 and drop the column fallback
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  pyproject.toml
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
  uv.lock
Due: update-cli-help, update-readme

docs(wiki): stamp last_verified_commit for the a11 bump
  docs/wiki/design-decisions.md
Due: none

docs: re-measure the MSv4 open/close ratchet and localise it
  docs/msv4_issues.md
  scripts/msv4_issues/structure_rebuild_rss.py
  scripts/msv4_issues/table_open_close_rss.py
Due: none

docs: cite ratt-ru/xarray-ms#177 for the structure leak and eviction gap
  docs/msv4_issues.md
  scripts/msv4_issues/structure_rebuild_rss.py
  scripts/msv4_issues/table_open_close_rss.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

docs: record upstream's close-and-reopen advice on arcae#241
  docs/msv4_issues.md
Due: none

docs: record that closing does not reach dropped-but-unclosed handles
  docs/msv4_issues.md
Due: none

fix(degrid-msv4): stop Serve killing replicas on long work items
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

docs: record the Serve event-loop watchdog trap
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  docs/wiki/memory-and-ray.md
Due: none

fix(degrid-msv4): tie the in-flight bound to what replicas accept
  docs/msv4_issues.md
  scripts/ray_issues/serve_router_backoff_overflow.py
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

docs: retest tricolour's to_msv2 deadlock on a11; record writer question
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  scripts/msv4_issues/to_msv2_write_loop.py
Due: none

docs(wiki): stamp last_verified_commit for the D38 writer question
  docs/wiki/design-decisions.md
Due: none

fix(degrid-msv4): drain one below the cap before submitting
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

perf(degrid-msv4): degrid each region on its own bounding box
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

docs(wiki): record region-bbox cropping in D38 and memory-and-ray
  docs/wiki/design-decisions.md
  docs/wiki/memory-and-ray.md
Due: none

fix(degrid-msv4): act on review findings before merge
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/utils/degrid_msv4.py
  tests/test_degrid_msv4.py
Due: update-readme

fix(degrid-msv4): stop Ray Serve binding a port we never use
  src/pfb_imaging/core/degrid_msv4.py
Due: update-readme

feat!: retire the MSv2 degrid and give its name to the MSv4 one
  .claude/rules/architecture.md
  CLAUDE.md
  Dockerfile
  README.md
  docs/msv4_issues.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  docs/wiki/memory-and-ray.md
  pyproject.toml
  scripts/msv4_issues/addcols_poisons_open_handles.py
  scripts/msv4_issues/to_msv2_write_loop.py
  scripts/ray_issues/serve_router_backoff_overflow.py
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/degrid_msv4.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/degrid_msv4.py
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/degrid_msv4.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/degrid.py
  src/pfb_imaging/utils/msv4.py
  src/pfb_imaging/utils/optional.py
  tests/conftest.py
  tests/test_degrid.py
  tests/test_degrid_parity.py
  tests/test_optional_extras.py
  uv.lock
Due: update-cli-help, update-readme

docs(wiki): stamp the pages touched by the degrid retirement
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/memory-and-ray.md
Due: none

refactor: replace DaskMSStore with plain fsspec
  README.md
  pyproject.toml
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/naming.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_imager.py
  tests/test_naming.py
  tests/test_optional_extras.py
Due: update-cli-help, update-readme

docs: state exactly what still requires python-casacore
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  README.md
  pyproject.toml
  tests/test_optional_extras.py
Due: update-cli-help, update-readme

docs: explain why [casacore] fails on aarch64, with a reproducer
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  scripts/casacore_issues/numpy2_abi_distro_casacore.sh
Due: update-cli-help, update-readme

test: check ducc0 numerically, and give aarch64 real imaging coverage
  .claude/rules/testing-and-ci.md
  .github/workflows/ci.yml
  CLAUDE.md
  tests/conftest.py
  tests/test_degrid.py
  tests/test_ducc0_gridder.py
  tests/test_imager.py
  tests/test_nan_padded_rows.py
  tests/test_unix_time_conversion.py
Due: none

fix(tests): image a sky that was actually injected
  tests/conftest.py
  tests/test_imager.py
  tests/test_imager_pol.py
  tests/test_imager_precision.py
  tests/test_unix_time_conversion.py
Due: none

test: probe casacore for real, so a broken one fails once
  tests/conftest.py
  tests/test_nan_padded_rows.py
  tests/test_optional_extras.py
  tests/test_unix_time_conversion.py
Due: none

test: treat a broken casacore as broken dask-ms, and xfail it on arm
  tests/conftest.py
  tests/test_imager.py
  tests/test_optional_extras.py
Due: none

docs: update test count and add .superpowers to .gitignore
  .claude/rules/testing-and-ci.md
  .gitignore
  CLAUDE.md
Due: none

test: add a session-scoped BandWorkerPool fixture
  src/pfb_imaging/operators/band_worker.py
  tests/conftest.py
  tests/test_band_pool.py
Due: update-readme

test: pin BandWorkerPool.shutdown killing its actors
  src/pfb_imaging/operators/band_worker.py
  tests/conftest.py
  tests/test_band_pool.py
Due: update-readme

test: share one BandWorkerPool across test_hess_tree_ray
  tests/test_hess_tree_ray.py
Due: none

test: restore pool monkeypatches in test_hess_tree_ray
  tests/test_hess_tree_ray.py
Due: none

test: share the band pool across the remaining Ray consumers
  tests/conftest.py
  tests/test_eta_profile.py
  tests/test_pfb_solver.py
  tests/test_preconditioner_consistency.py
Due: none
