Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

transition grid
  src/pfb_imaging/cabs/grid.yaml
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/utils/naming.py
Due: update-readme

add tests/data to gitignore
  .gitignore
Due: none

Initial AIRI prox implementation. Coded with Claude, still needs to be tested.
  pfb/parser/airi.yaml
  pfb/prox/prox_airi.py
  pfb/workers/airi.py
Due: none

Removed ProxOp abc and moved useful methods to ProxOpAIRI. Basic testing of ProxOpAiri methods.
  pfb/prox/prox_airi.py
Due: none

Implemented tiling functionality in airi prox_op
  pfb/prox/prox_airi.py
Due: none

Incorporated Tiling functionality into airi.yaml and airi.py
  pfb/parser/airi.yaml
  pfb/workers/airi.py
Due: none

transition hci, init and kclean
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/hci.yaml
  src/pfb_imaging/cabs/init.yaml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/utils/astrometry.py
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis.py
Due: update-readme

also convert sara and start fixing tests
  .rayignore
  MANIFEST.in
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cabs/sara.yaml
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/sara.py
  tests/conftest.py
  tests/test_band_actor.py
  tests/test_beam.py
  tests/test_convolve2gaussres.py
  tests/test_hessian_approx.py
  tests/test_kclean.py
  tests/test_kron_matvec.py
  tests/test_model2comps.py
  tests/test_polproducts.py
  tests/test_psi_operator.py
  tests/test_sara.py
  uv.lock
Due: update-cli-help, update-readme

convert restore app
  src/pfb_imaging/cabs/restore.yaml
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/core/sara.py
Due: update-readme

get all tests passing
  src/pfb_imaging/cabs/degrid.yaml
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/model2comps.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/core/spotless.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/fits.py
  src/pfb_imaging/utils/logging.py
  src/pfb_imaging/utils/modelspec.py
  tests/test_polproducts.py
  tests/test_sara.py
Due: update-readme

more linting fixes
  src/pfb_imaging/core/spotless.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/dist.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/modelspec.py
  src/pfb_imaging/utils/naming.py
  src/pfb_imaging/utils/restoration.py
  src/pfb_imaging/utils/spi.py
  src/pfb_imaging/utils/stokes.py
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis.py
  src/pfb_imaging/utils/weighting.py
  src/pfb_imaging/wavelets/wavelets_jsk.py
Due: update-readme

lint operator module
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/core/smoovie.py
  src/pfb_imaging/deconv/clark.py
  src/pfb_imaging/deconv/hogbom.py
  src/pfb_imaging/operators/energy.py
  src/pfb_imaging/operators/fft.py
  src/pfb_imaging/operators/gauss.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/psf.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/operators/psi2.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/wavelets/wavelets_jsk.py
  tests/test_hessian_approx.py
Due: update-readme

lint opt module
  src/pfb_imaging/opt/fista.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/opt/power_method.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

remove parser module (schema now in cabs module)
  src/pfb_imaging/parser/__init__.py
  src/pfb_imaging/parser/cgopts.yml
  src/pfb_imaging/parser/degrid.yaml
  src/pfb_imaging/parser/dist.yml
  src/pfb_imaging/parser/fluxtractor.yaml
  src/pfb_imaging/parser/grid.yaml
  src/pfb_imaging/parser/gridding.yml
  src/pfb_imaging/parser/hci.yaml
  src/pfb_imaging/parser/init.yaml
  src/pfb_imaging/parser/kclean.yaml
  src/pfb_imaging/parser/model2comps.yaml
  src/pfb_imaging/parser/out.yml
  src/pfb_imaging/parser/pdopts.yml
  src/pfb_imaging/parser/pmopts.yml
  src/pfb_imaging/parser/restore.yaml
  src/pfb_imaging/parser/sara.yaml
  src/pfb_imaging/parser/schemas.py
  src/pfb_imaging/parser/smoovie.yaml
  src/pfb_imaging/parser/spotless.yaml
  src/pfb_imaging/parser/uncabbedcabs.yml
Due: update-readme

all ruff checks passing
  src/pfb_imaging/deconv/clark.py
  src/pfb_imaging/opt/power_method.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/prox/prox_21.py
  src/pfb_imaging/prox/prox_21m.py
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/spi.py
  src/pfb_imaging/utils/stokes.py
  src/pfb_imaging/wavelets/__init__.py
  src/pfb_imaging/wavelets/wavelets.py
  tests/test_convolve2gaussres.py
  tests/test_wavelets.py
  tests/test_weighting.py
Due: update-readme

fix test suite after refactor
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/operators/psi.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/wavelets/__init__.py
  tests/test_polproducts.py
  tests/test_psi_operator.py
  tests/test_wavelets.py
Due: update-readme

more uv ruff migration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.rst
  pyproject.toml
  src/pfb_imaging/cabs/degrid.yaml
  src/pfb_imaging/cabs/grid.yaml
  src/pfb_imaging/recipes/kclean.yml
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/stimela_cabs.yml
  uv.lock
Due: update-cli-help

address copilot comments
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  scripts/generate_cabs.py
  src/pfb_imaging/cabs/__init__.py
  src/pfb_imaging/cabs/degrid.yaml
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/sara.py
  uv.lock
Due: update-cli-help, update-readme

fix generate cabs script
  .github/workflows/publish-container.yml
  .github/workflows/publish.yml
  src/pfb_imaging/cabs/degrid.yaml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yaml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yaml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

fix test suite
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/restore.py
  tests/test_sara.py
Due: update-readme

fix stimela stype in hci
  src/pfb_imaging/cli/hci.py
Due: update-readme

refresh uv cache in CI
  .github/workflows/ci.yml
Due: none

depend on specific sha for hip-cargo
  pyproject.toml
Due: update-cli-help

remove unused parameters in function definitions and add git to Dockerfile
  Dockerfile
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/fluxtractor.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/core/kclean.py
  src/pfb_imaging/core/model2comps.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/core/sara.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

limit parallelism during tests. Use time to get basic usage stats
  .github/workflows/ci.yml
  tests/conftest.py
  tests/test_convolve2gaussres.py
  tests/test_hessian_approx.py
  tests/test_kclean.py
  tests/test_polproducts.py
  tests/test_sara.py
Due: none

try to get ray and uv to behave in test suite
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .rayignore
  tests/conftest.py
  uv.lock
Due: none

depend on issue348 of africanus
  pyproject.toml
Due: update-cli-help

depend on africanus master
  pyproject.toml
  uv.lock
Due: update-cli-help

start adding roundtrip test
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

shorten info strings
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

shorten info strings
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cli/degrid.py
Due: update-readme

fix long strings in docs
  pyproject.toml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-cli-help, update-readme

git round trip tests working with new version of hip-cargo
  .github/dependabot.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  tests/test_roundtrip.py
  uv.lock
Due: update-cli-help, update-readme

add update-cabs workflow and remove outdated should-run step
  .github/workflows/ci.yml
  .github/workflows/publish-container.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  .gitignore
Due: none

update uv.lock to use latest main of hip-cargo
  uv.lock
Due: none

remove from pfb. import in stokes2im
  .pre-commit-config.yaml
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

safe_stokes_image -> batch_stokes_image
  src/pfb_imaging/core/hci.py
Due: update-readme

fix parameter names and ordering in hci and stokes2im
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

do not override read-only data in stokes2im
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
