Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

chore: update hip-cargo in uv.lock and regenerate cli definitions
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-readme

fix: make sure numba cache dir is always mounted in container
  Dockerfile
  pyproject.toml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/core/hci.py
  uv.lock
Due: update-cli-help, update-readme

build: update hip-cargo dependency
  pyproject.toml
  uv.lock
Due: update-cli-help

feat(hci): add original phase dir to cds
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

chore: comment some todos
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

feat: add 30 Dor example recipe
  examples/30Dor.yaml
  pyproject.toml
  uv.lock
Due: update-cli-help

chore: update _container_image.py entry
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

feat: pass apply-cal flag to xds_from_storage_ms in init
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

Reverse dependency constraint.
  pyproject.toml
Due: update-cli-help

Don't twek bound.
  pyproject.toml
Due: update-cli-help

build: don't pin distributed in pyproject.toml. fix: apply-cal -> applycal in init sub-command
  examples/30Dor.yaml
  pyproject.toml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/utils/misc.py
  uv.lock
Due: update-cli-help, update-readme

chore: lint
  src/pfb_imaging/core/init.py
Due: update-readme

fix: set must_exist: false in hci cab
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

fix: fix failing roundtrip tests
  src/pfb_imaging/cli/hci.py
Due: update-readme

build: update hip-cargo dependency
  pyproject.toml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-cli-help, update-readme

fix: set RAY_worker_num_grpc_internal_threads to 1 when initialising local ray cluster
  src/pfb_imaging/__init__.py
Due: update-readme

Reverse dependency constraint. (#242)
  pyproject.toml
Due: update-cli-help

chore: add comment explaining why RAY_worker_num_grpc_internal_threads needs to be set
  src/pfb_imaging/__init__.py
Due: update-readme

feat: add imager command that replicates init worker functionality but using xarray-ms after pulling upstream
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/msv4_mappings.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

build: add xarray-ms dependency and set python-requires>=3.11
  pyproject.toml
  uv.lock
Due: update-cli-help

feat: add imager command that replicates init worker functionality but using xarray-ms
  pyproject.toml
  src/pfb_imaging/cli/__init__.py
  uv.lock
Due: update-cli-help, update-readme

fix: remove appplycal from init args and old mapping construction
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

build: add gcc to Dockerfile to make python-lzf available
  Dockerfile
  pyproject.toml
Due: update-cli-help

build: add xarray-kat dependency. fix: pass kwargs to open_datatree depending on backend. chore: remove unused msv4_mappings.py
  pyproject.toml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/msv4_mappings.py
  uv.lock
Due: update-cli-help, update-readme

chore: apply ccode suggestions after review
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

fix: fixes for multi-spw and scan MSs + shift max blength/freq computation to outer look while guarding against NaNs
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

test: add basic test for new imager command
  tests/test_imager.py
Due: none

fix: only pass partition_schema when engine is xarray-ms:msv2
  src/pfb_imaging/core/imager.py
Due: update-readme

playing with threshold tuning logic - setting lam from a noise floor target or with hard value.
  src/pfb_imaging/core/deconv.py
Due: update-readme

debug
  src/pfb_imaging/core/grid.py
Due: update-readme

debug
  src/pfb_imaging/deconv/sara.py
Due: update-readme

os.makedir exist ok for out_dds
  src/pfb_imaging/utils/stokes2vis.py
Due: update-readme

a CLAUDE fix for Mac dependencies install.
  src/pfb_imaging/__init__.py
Due: update-readme

Do not force NUMBA_THREADING_LAYER to tbb
  src/pfb_imaging/__init__.py
Due: update-readme

fix: eagerly compute mapping and clean up open files
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

chore: update container image name
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme
