Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

chore: bump version to 0.0.9rc1
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

fix: set log_directory and fits_output_folder types to Directory | None
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

fix: correct order of File and Directory declarations in restore CLI
  src/pfb_imaging/cli/restore.py
Due: update-readme

docs: update README with more comprehensive contribution guidelines
  README.md
Due: update-readme

test: dependabot ignore distributed
  .github/dependabot.yml
Due: none

build: update ray, pillow and pytest dependency versions
  pyproject.toml
  uv.lock
Due: update-cli-help

Correct Directory types (#233)
  .github/dependabot.yml
  README.md
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-cli-help, update-readme

build: PEP 639 compliance
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
  uv.lock
Due: update-cli-help, update-readme

feat: hci running through with suricat-beams
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix: add log-directory and fits-cube outputs to hci
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

fix: add log-directory and fits-output-folder outputs everywhere. Add basic stimela test for hci cab
  .gitignore
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  tests/test_hci.yml
Due: update-readme

fix: use StimelaMeta instance instead of dict for metadata
  pyproject.toml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  uv.lock
Due: update-cli-help, update-readme

build: depend on hip-cargo>=0.2.0
  pyproject.toml
  uv.lock
Due: update-cli-help

fix(release): reorder cliff.toml parsers to skip release bump commits
  cliff.toml
Due: none

Add log-directory and fits-output-folder outputs (#234)
  .gitignore
  cliff.toml
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  tests/test_hci.yml
  uv.lock
Due: update-cli-help, update-readme

chore: bump version to 0.0.9
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

test: session scope MS reads, prune parameterisations
  tests/conftest.py
  tests/test_hessian_approx.py
  tests/test_kclean.py
  tests/test_model2comps.py
  tests/test_polproducts.py
  tests/test_psi_operator.py
  tests/test_sara.py
  tests/test_weighting.py
Due: none

feat(weighting): add box_sum_counts for super-uniform weighting
  src/pfb_imaging/utils/weighting.py
  tests/test_weighting.py
Due: update-readme

fix(weighting): assert floating dtype in box_sum_counts
  src/pfb_imaging/utils/weighting.py
Due: update-readme

feat(gridder): apply box_sum_counts for super-uniform weighting
  src/pfb_imaging/operators/gridder.py
Due: update-readme

feat(grid): thread npix_super through core grid entry point
  src/pfb_imaging/core/grid.py
Due: update-readme

feat(cli): expose --npix-super on pfb grid
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cli/grid.py
Due: update-readme

feat(stokes2im): apply box_sum_counts for super-uniform weighting in hci path
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

feat(hci): thread npix_super through core hci entry point
  src/pfb_imaging/core/hci.py
Due: update-readme

feat(cli): expose --npix-super on pfb hci
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
Due: update-readme

fix(cli): reflow --npix-super help to match cab roundtrip format
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
Due: update-readme

docs: finalise super-uniform weighting branch
  .gitignore
  README.md
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tests/conftest.py
Due: update-readme

test: session scope MS reads, prune parameterisations (#235)
  tests/conftest.py
  tests/test_hessian_approx.py
  tests/test_kclean.py
  tests/test_model2comps.py
  tests/test_polproducts.py
  tests/test_psi_operator.py
  tests/test_sara.py
  tests/test_weighting.py
Due: none

build: update image name
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

Add super-uniform/robust weighting (#236)
  .gitignore
  README.md
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/weighting.py
  tests/conftest.py
  tests/test_weighting.py
Due: update-readme

feat: Default to barycenter for phase-dir when imaging multiple fields
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix: make out_ra/out_dec size 1 after computing barycenter
  src/pfb_imaging/core/hci.py
Due: update-readme

fix(mappings): don't re-use nchan for each SPW across different MS's
  src/pfb_imaging/utils/misc.py
Due: update-readme

feat(hci): add channels-per-bin parameter to allow finer freq resolution when correcting for beam
  pyproject.toml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2im.py
  uv.lock
Due: update-cli-help, update-readme

feat(hci): change --cube-to-fits flag to --fits-vars list to write out multiple data products
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

deps: add distributed dependency back in (still needed for degrid)
  pyproject.toml
  uv.lock
Due: update-cli-help

fix(hci): pass mean freq to beam_for_band. test(hci): Add basic hci tests
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
  uv.lock
Due: update-readme

fix: pass computed and possibly rounded phase-dir through to stokes2im
  src/pfb_imaging/core/hci.py
Due: update-readme

fix: set must_exist to false for log-directory
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

deps: depend on uritypes branch of hip-cargo
  pyproject.toml
Due: update-cli-help
