Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(imager): pass-1 primary beams on the image grid (#281)
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  scripts/meerklass_mosaic.py
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  src/pfb_imaging/utils/beam.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager.py
  tests/test_imager_pass2.py
Due: update-readme

test(deconv): bands with unequal partition counts run end to end
  tests/test_deconv.py
Due: none

test: n-term Hessian study -- fold 1/n into the beam, don't flip ducc
  tests/test_hessian_nterm.py
Due: none

feat(imager): fold the wgridder n-term into the stored BEAM (D22)
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_deconv.py
  tests/test_imager.py
Due: update-readme

feat(imager): band-level BEAM; drop the redundant RESIDUAL
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

feat(imager): psf compute toggle with a deconv guard
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  tests/test_imager.py
  tests/test_imager_pass2.py
Due: update-readme

feat(imager): beam FITS output
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/fits.py
  tests/test_imager.py
Due: update-readme

feat(imager): fits-per-partition sanity-check FITS
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

feat(cli): imager product-selection options
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/imager.py
Due: update-readme

docs(wiki): imager product selection and band-level BEAM
  .claude/rules/architecture.md
  docs/wiki/imager-pipeline.md
Due: none

feat(deconv)!: eta is a fraction of the total wsum
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/hessian.py
  tests/test_pfb_solver.py
Due: update-readme

feat(gridder): beam-attenuated gradient residual (D23)
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

feat(imager): store the beam-attenuated dirty BDIRTY per band (D23)
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

fix(deconv)!: feed the forward solver the exact beam-attenuated gradient
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/pfb.py
  src/pfb_imaging/operators/band_worker.py
  tests/test_deconv.py
Due: update-readme

docs(wiki): D23 beam-attenuated gradient; D7/primer/tree-layout updated
  .claude/rules/architecture.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
Due: none

feat(deconv): per-partition debug FITS (--fits-per-partition)
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/band_worker.py
  tests/test_deconv.py
Due: update-readme

feat(deconv): per-iteration chi2 and uv-binned residual profiles (--debug)
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/band_worker.py
  tests/test_deconv.py
Due: update-readme

feat(scripts): deconv_qa.py -- diagnostic plots for deconv --debug output
  scripts/deconv_qa.py
Due: none

chore: sensible default fits and log directories
  src/pfb_imaging/utils/naming.py
Due: update-readme

chore: add a couple of clarifying comments
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/naming.py
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

feat: use pfb-model-spec model_to_ds in core.deconv
  pyproject.toml
  src/pfb_imaging/core/deconv.py
  uv.lock
Due: update-cli-help, update-readme

refactor!: migrate model-spec functionality to pfb-model-spec (#286)
  .claude/rules/architecture.md
  README.md
  docs/wiki/design-decisions.md
  src/pfb_imaging/cabs/cabs.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/core/model2comps.py
  src/pfb_imaging/utils/modelspec.py
  tests/test_model2comps.py
Due: update-readme

test: point deconv tests at the fits/ output subdir (35c5c39)
  tests/test_deconv.py
Due: none

docs(wiki): stamp design-decisions after the #286 migration
  docs/wiki/design-decisions.md
Due: none

fix: test oversampling beam patterns before reprojection
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

build: depend on pfb-model-spec>=0.0.2
  pyproject.toml
Due: update-cli-help

fix: correct default fits path in test_imager.py
  tests/test_imager.py
  uv.lock
Due: none

test(pfb): add a test for preconditioner consistency
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  tests/test_preconditioner_consistency.py
Due: none

docs: update wiki with preconditioner consistency notes
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
Due: none

fix(hci): scale injected transients by 1/n
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix(hci): correct w_diff sign in rephased transient injection
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
Due: update-readme

fix(hci): differential rephasing to cancel measures-vs-MS systematic
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

docs(wiki): D24 hci transient-injection rephasing convention
  docs/wiki/design-decisions.md
Due: none

feat(scripts): katpoint vs measures UVW check against an MS
  scripts/check_katpoint_uvw.py
Due: none

feat(scripts): decompose transient localisation error along the chain
  scripts/check_injected_transients.py
Due: none

build: add stimela to dev dependencies. add transient astrometry test recipe
  .gitignore
  examples/transient_astrometry_repro.yml
  pyproject.toml
  uv.lock
Due: update-cli-help

fix: params in claude recipe
  examples/transient_astrometry_repro.yml
Due: none

chore: change defaults in transient injection reproducer
  examples/transient_astrometry_repro.yml
Due: none

fix(fitcleanbeam): stop warning on the correctly-handled emaj/emin axis swap in fitcleanbeam
  examples/transient_astrometry_repro.yml
  src/pfb_imaging/utils/misc.py
  tests/test_beam_orientation.py
Due: update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
