Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rename extent to nsigma and make it consistent with the expected meaning
  src/pfb_imaging/utils/misc.py
Due: update-readme

Use moment matching + rotation to estimate the initial emaj, emin for PSF fit and add a test to make sure it really improves the initial estimates
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

don't run ci.yml when app updates cabs
  .github/workflows/ci.yml
Due: none

address copilot comments [skip ci]
  .github/workflows/ci.yml
  src/pfb_imaging/utils/misc.py
Due: update-readme

Fix #217: Fix (hopefully) PSF fitting code and add tests (#218)
  .github/workflows/ci.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

fix Nyquist cell size computation
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/core/degrid.py
  src/pfb_imaging/core/grid.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/core/init.py
  src/pfb_imaging/operators/energy.py
  src/pfb_imaging/utils/misc.py
  src/pfb_imaging/utils/stokes2vis.py
  tests/test_hessian_approx.py
  tests/test_kclean.py
  tests/test_model2comps.py
  tests/test_polproducts.py
  tests/test_sara.py
  tests/test_weighting.py
Due: update-readme

make cube_to_fits functional in hci app
  src/pfb_imaging/core/hci.py
Due: update-readme

add rich help panels everywhere
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

Remove help panel for non-stimela params for now as they cause roundtrip to fail
  pyproject.toml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  uv.lock
Due: update-cli-help, update-readme

depend on hip-cargo 0.1.7
  pyproject.toml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  uv.lock
Due: update-cli-help

add omegaconf dependency
  pyproject.toml
  uv.lock
Due: update-cli-help

chore: move container image to hip.cargo entry point
  pyproject.toml
  uv.lock
Due: update-cli-help

chore: add __version__ literal for tbump
  src/pfb_imaging/__init__.py
Due: update-readme

chore: use hip-cargo pattern in tbump before_commit hooks
  tbump.toml
Due: none

ci: align update-cabs workflow with hip-cargo pattern
  .github/workflows/update-cabs.yml
Due: none

docs: update CLAUDE.md image-resolution section
  CLAUDE.md
Due: none

docs: update README container-images section
  README.rst
Due: none

docs: update copilot-instructions container-workflow block
  .github/copilot-instructions.md
Due: none

auto ff to latest hc workflow
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/degrid.py
  src/pfb_imaging/cli/fluxtractor.py
  src/pfb_imaging/cli/grid.py
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/cli/init.py
  src/pfb_imaging/cli/kclean.py
  src/pfb_imaging/cli/model2comps.py
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/cli/sara.py
  src/pfb_imaging/utils/misc.py
Due: update-readme

create _container_image.py file and add get_container_image() calls to CLI functions
  pyproject.toml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/deconv/__init__.py
  src/pfb_imaging/operators/__init__.py
  src/pfb_imaging/opt/__init__.py
Due: update-cli-help, update-readme

test commit
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/deconv/__init__.py
Due: update-readme

new hip-cargo workflow for container fallback etc
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  CLAUDE.md
  pyproject.toml
  src/pfb_imaging/operators/psi.py
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

import PsiOperatorProtocol from opt module
  src/pfb_imaging/deconv/sara_fb.py
  src/pfb_imaging/deconv/sara_pd.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

docs: migrate README from RST to Markdown
  HISTORY.rst
  README.md
  README.rst
  pyproject.toml
Due: update-cli-help, update-readme

docs: add CHANGELOG.md and cliff.toml in favour of HISTORY.rst
  CHANGELOG.md
  cliff.toml
  src/pfb_imaging/_container_image.py
Due: update-readme

fix: rename README.rst to README.md in Dockerfile
  Dockerfile
Due: none

chore: update tbump config
  .pre-commit-config.yaml
  tbump.toml
Due: none

feat: reinstate logo when running CLI
  src/pfb_imaging/__init__.py
  src/pfb_imaging/cli/__init__.py
Due: update-readme

chore: update .gitignore
  .gitignore
  src/pfb_imaging/operators/precond.py
Due: update-readme

build: update hip-cargo==0.2.1rc1
  pyproject.toml
  uv.lock
Due: update-cli-help

chore: respond to copilot comments
  .github/copilot-instructions.md
  .github/workflows/publish-container.yml
  CLAUDE.md
  README.md
  src/pfb_imaging/cli/__init__.py
Due: update-readme

fix: using python3.11 in actions to fix update-cabs workflow
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

fix: using python3.11 in actions to fix update-cabs workflow (#227)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  uv.lock
Due: update-readme

Bump version to 0.0.9rc1
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

build: update africanus and hip-cargo
  .pre-commit-config.yaml
  cliff.toml
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

build: upgrade codex-africanus to latest release
  pyproject.toml
  uv.lock
Due: update-cli-help

build: update africanus and hip-cargo (#228)
  .pre-commit-config.yaml
  cliff.toml
  pyproject.toml
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

chore: reset changes from last release attempt. tell dependabot to ignore distributed and pin back to dask compatible version
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

chore: reset changes from last release attempt. tell dependabot to ignore distributed and pin back to dask compatible version (#229)
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
