Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: record effective freq_out and beam frequency as D28
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
Due: none

fix(scripts): compare band centres against freq_nominal, not freq_out
  scripts/compare_wsclean.py
  src/pfb_imaging/utils/fits.py
Due: update-readme

fix(scripts): wsum-weight the eigenvector FITS frequency in max_gamma
  scripts/max_gamma.py
Due: none

fix(scripts): score the uv grid transform on support when weights are flat
  scripts/compare_wsclean.py
Due: none

docs: link D28's open FITS item to #302
  docs/wiki/design-decisions.md
Due: none

fix(misc): add yx_order to convolve2gaussres and fix gausspar branch
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

fix(misc): Google-style docstring and gausspari shared-triple test
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

feat(fits): add drop_bands and psfpars_var to dt2fits
  src/pfb_imaging/utils/fits.py
  tests/test_fits_tree.py
Due: update-readme

refactor(restoration): pure .dt restoration functions, three flux scales
  src/pfb_imaging/utils/restoration.py
  tests/test_restore.py
Due: update-readme

feat(restore): read the .dt and write restored products to band nodes
  src/pfb_imaging/core/restore.py
  tests/test_restore.py
Due: update-readme

feat(restore): render restored cubes and MFS images to FITS
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/utils/restoration.py
  tests/test_restore.py
Due: update-readme

test(restore): guard that the apparent product beams before convolving
  tests/test_restore.py
Due: none

feat(restore): reinstate the clean-beam and fft-residual outputs
  src/pfb_imaging/core/restore.py
  tests/test_restore.py
Due: update-readme

feat(cli): restore options for the .dt products, drop ray options
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cli/restore.py
Due: update-readme

test(restore): end-to-end imager-deconv-restore ground truth
  tests/test_restore.py
Due: none

docs: record restore's flux scales and MFS clean beam as D29
  .claude/rules/architecture.md
  README.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
Due: update-readme

fix(restore): keep every correlation in the clean-beam images
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/utils/restoration.py
  tests/test_restore.py
Due: update-readme

test: split fast and slow tests so the dev loop runs in 93s
  .claude/rules/testing-and-ci.md
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CLAUDE.md
  pyproject.toml
  tests/test_deconv.py
  tests/test_hci.py
  tests/test_hessian_approx.py
  tests/test_imager.py
  tests/test_imager_pol.py
  tests/test_pfb_solver.py
  tests/test_preconditioner_consistency.py
  tests/test_restore.py
  tests/test_weight_data_cache.py
Due: update-cli-help

feat(deconv): add frequency-correlation kernel for the preconditioner
  src/pfb_imaging/operators/hessian.py
  tests/test_freq_precision.py
Due: update-readme

feat(deconv): couple bands in HessTreeRay via a frequency prior
  src/pfb_imaging/operators/hessian.py
  tests/test_hess_tree_ray.py
Due: update-readme

feat(deconv): run cube-level CG when a frequency prior couples bands
  src/pfb_imaging/operators/hessian.py
  tests/test_hess_tree_ray.py
Due: update-readme

feat(deconv): add --gp-length-scale and --gp-cap options
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/presets.py
  tests/test_pfb_solver.py
Due: update-readme

fix(deconv): invalidate cached hess_norm when preconditioner options change
  src/pfb_imaging/core/deconv.py
  tests/test_deconv_hess_norm_cache.py
Due: update-readme

feat(deconv): report the frequency prior spectrum per run
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/hessian.py
  tests/test_hess_tree_ray.py
Due: update-readme

test(deconv): pin that the frequency prior cannot move the fixed point
  tests/test_preconditioner_consistency.py
Due: none

test(deconv): keep the frequency-prior tests off the fast dev loop
  tests/test_hess_tree_ray.py
  tests/test_pfb_solver.py
Due: none

docs: record the frequency-prior preconditioner as D30
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
Due: none

test(deconv): cover the deconv driver with the frequency prior enabled
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  tests/test_deconv.py
Due: none

docs: cite the driver-level frequency prior test in D30
  CLAUDE.md
  docs/wiki/design-decisions.md
Due: none

feat(scripts): measure the frequency prior's gamma cost in max_gamma
  docs/wiki/design-decisions.md
  scripts/max_gamma.py
Due: none

feat(scripts): profile the frequency prior's Hessian and solve cost
  docs/wiki/design-decisions.md
  scripts/profile_freq_correlated_hessian.py
Due: none

test(hessian): pin the frequency prior's effect on M's spectrum
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  docs/wiki/design-decisions.md
  tests/test_hess_tree_ray.py
Due: none

perf(gauss): add a fused numba kernel for the frequency congruence
  .claude/rules/testing-and-ci.md
  CLAUDE.md
  src/pfb_imaging/operators/gauss.py
  tests/test_eta_freq_mul.py
Due: update-readme

perf(hessian): apply the frequency prior with the fused numba kernel
  docs/wiki/design-decisions.md
  scripts/profile_freq_correlated_hessian.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/gauss.py
  src/pfb_imaging/operators/hessian.py
Due: update-readme

fix(convolution): use the closed-form Gaussian transform ratio
  docs/wiki/design-decisions.md
  src/pfb_imaging/utils/misc.py
  tests/test_convolve2gaussres.py
Due: update-readme

fix(restore): make the common restoring resolution a Loewner envelope
  docs/wiki/design-decisions.md
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/utils/restoration.py
  tests/test_restore.py
Due: update-readme

feat(scripts): diagnose the spectral index ripples on a remote datatree
  scripts/test_spi_ripples.py
Due: none

feat(scripts): settle the ripple question in the uv plane
  scripts/test_spi_ripples.py
Due: none

feat(restore): store the convolved residual as CRESIDUAL
  .claude/rules/architecture.md
  docs/wiki/design-decisions.md
  scripts/test_spi_ripples.py
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cli/restore.py
  src/pfb_imaging/core/restore.py
  src/pfb_imaging/utils/restoration.py
  tests/test_restore.py
Due: update-readme

fix(scripts): fail loudly when the ripple cutout has no pixels
  scripts/test_spi_ripples.py
Due: none

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
