Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help documentation
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|README\.md)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        files: ^src/hip_cargo/cli/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

test: print expected vs detected positions of injected transients in the check_injected_transients script
  scripts/check_injected_transients.py
Due: none

fix(hci): correct w-term sign in transient-injection fringe
  docs/wiki/design-decisions.md
  src/pfb_imaging/utils/astrometry.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hessian_approx.py
Due: update-readme

docs(wiki): stamp D24 at the w-term fix commit
  docs/wiki/design-decisions.md
Due: none

fix(hci): scale injected transients by 1/n
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix(hci): correct w_diff sign in rephased transient injection
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
Due: update-readme

fix(hci): differential rephasing to cancel measures-vs-MS systematic
  src/pfb_imaging/utils/stokes2im.py
Due: update-readme

fix(hci): correct w-term sign in transient-injection fringe
  src/pfb_imaging/utils/astrometry.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hessian_approx.py
Due: update-readme

fix(fitcleanbeam): stop warning on the correctly-handled emaj/emin axis swap in fitcleanbeam
  src/pfb_imaging/utils/misc.py
  tests/test_beam_orientation.py
Due: update-readme

feat(cli): loud deprecation banners for v0.1.0-retired subcommands
  src/pfb_imaging/cli/__init__.py
  src/pfb_imaging/cli/_deprecation.py
  tests/test_cli_deprecation.py
Due: update-readme

build: update hip-cargo>=0.3.0
  pyproject.toml
  uv.lock
Due: update-cli-help

ci: authenticate app token with client-id
  .github/workflows/update-cabs.yml
Due: none

build: install meerkat-beams from PyPI
  pyproject.toml
  uv.lock
Due: update-cli-help

refactor(hci)!: support only meerkat-beams, band given separately
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cli/hci.py
  src/pfb_imaging/core/hci.py
  src/pfb_imaging/utils/stokes2im.py
  tests/test_hci.py
Due: update-readme

docs(wiki): record D20 and retire the zarr-beam debt
  docs/wiki/design-decisions.md
  docs/wiki/image-and-beam-orientation.md
Due: none

fix(init): compare phase-centre offsets by magnitude, with RA wrap
  src/pfb_imaging/core/init.py
  tests/test_phase_dir_agreement.py
Due: update-readme

fix(hci): only create the FITS folder when FITS are written
  src/pfb_imaging/core/hci.py
Due: update-readme

docs(wiki): carry the phase-centre comparison fix into mosaicing
  docs/wiki/design-decisions.md
Due: none

docs(wiki): stamp the merged pages at the merge commit
  docs/wiki/design-decisions.md
  docs/wiki/image-and-beam-orientation.md
Due: none

build: keep pfb-imaging[full] out of the dev group
  .claude/rules/testing-and-ci.md
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: update-cli-help, update-readme

chore: bump version to 0.0.11
  CHANGELOG.md
  pyproject.toml
  src/pfb_imaging/__init__.py
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

perf: let the wgridder choose sigma_min and sigma_max itself
  scripts/max_gamma.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/gridder.py
Due: update-readme

fix(gridder): mask degrids against xarray-ms NaN row padding
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/gridder.py
Due: update-readme

fix(imager): drop NaN-padded and fully flagged rows in pass 1
  src/pfb_imaging/utils/stokes2vis_msv4.py
Due: update-readme

test: guard NaN-UVW padding out of degrids and the .dt
  tests/test_nan_padded_rows.py
Due: none

chore(scripts): add split_ms.py MS subset helper
  scripts/split_ms.py
Due: none

feat(scripts): report M's spectrum and adjointness in max_gamma
  scripts/max_gamma.py
Due: none

feat: add eta-mode and eta-clip parameters
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  scripts/max_gamma.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/hessian.py
  tests/test_eta_profile.py
Due: update-readme

fix: fix single precision output for imager command
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_precision.py
Due: update-readme

test: add a script to compare imager to wsclean
  scripts/compare_wsclean.py
Due: none

ci: run CI on dev/** integration branches
  .github/workflows/ci.yml
Due: none

ci: run CI on dev-* integration branches
  .github/workflows/ci.yml
Due: none

chore: point container image at the dev-0.1.0 branch tag
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/restore.yml
Due: update-readme

ci: cache measures data under a constant key, fetch over ftp
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: cache measures data under a constant key, fetch over ftp (#298)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: stop duplicating runs on dev-* integration branches
  .github/workflows/ci.yml
Due: none

fix(imager): evaluate the beam at the effective band frequency
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  tests/test_imager.py
Due: update-readme

fix(imager): weight partition BEAM over all concatenated pieces
  src/pfb_imaging/core/imager.py
  src/pfb_imaging/operators/gridder.py
  tests/test_imager_pass2.py
Due: update-readme

fix(imager): reduce band freq_out over partitions by wsum
  src/pfb_imaging/core/imager.py
  tests/test_imager.py
Due: update-readme

fix(fits): order .dt cube planes by bandid
  src/pfb_imaging/utils/fits.py
  tests/test_fits_tree.py
Due: update-readme
