Repository ratt-ru/pfb-imaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme, generate-cabs

update-cli-help:
  name: Update CLI help documentation
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

generate-cabs:
  name: Generate Stimela cab definitions
  entry: python scripts/generate_cabs.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(deconv): warn on ista+primal-dual; document nominal actor CPU claims
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/deconv/presets.py
Due: update-readme

feat(deconv): enforce Protocol conformance at framework seams
  src/pfb_imaging/deconv/README.md
  src/pfb_imaging/deconv/pfb.py
  src/pfb_imaging/operators/__init__.py
  src/pfb_imaging/opt/forward_backward.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/opt/primal_dual.py
  src/pfb_imaging/prox/l1.py
  src/pfb_imaging/prox/l21.py
  tests/test_protocols.py
Due: update-readme

feat: add spotless recipe and pfb.cabs through scabha issue-13
  src/pfb_imaging/recipes/sara.yml
Due: none

fix(deconv): guard NaN rms_comps and unset residual (PR review)
  src/pfb_imaging/deconv/pfb.py
  src/pfb_imaging/prox/l21.py
  tests/test_pfb_solver.py
  tests/test_regularisers.py
Due: update-readme

feat: Add spotless recipe for comparison to sara
  src/pfb_imaging/cabs/cabs.yml
  src/pfb_imaging/recipes/spotless.yml
Due: none

fix(deconv): copy x0 at the band-actor CG Ray boundary
  src/pfb_imaging/operators/hessian.py
Due: update-readme

fix(deconv): pass nu=nbasis to L21 in the sara preset
  src/pfb_imaging/deconv/presets.py
  tests/test_pfb_solver.py
Due: update-readme

fix(fits): skip MFS beam keywords when gausspar is None
  src/pfb_imaging/utils/fits.py
Due: update-readme

refactor(deconv): co-locate per-band Hessian/Psi/residual in one band worker
  .claude/rules/architecture.md
  scripts/profile_wavelets.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/README.md
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/hessian.py
  src/pfb_imaging/operators/psi.py
  tests/test_pfb_solver.py
Due: update-readme

chore: expose hess-norm in recipes
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/recipes/spotless.yml
  src/pfb_imaging/utils/fits.py
Due: update-readme

fix: only use init_factor at iter0 for sara
  src/pfb_imaging/core/sara.py
Due: update-readme

perf(deconv): band workers read their own vis-scale inputs from the store
  .claude/rules/architecture.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/deconv/README.md
  src/pfb_imaging/deconv/presets.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/operators/hessian.py
  tests/test_deconv.py
Due: update-readme

docs: add LLM wiki (docs/wiki/) with fact-checked deep internal pages
  .claude/rules/architecture.md
  CLAUDE.md
  docs/msv4-memory-patterns.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  docs/wiki/memory-and-ray.md
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/band_worker.py
Due: update-readme

docs(opt): document the legacy oracle solvers' contracts and traps
  src/pfb_imaging/opt/fista.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/opt/primal_dual.py
Due: update-readme

feat: add new GC recipe
  examples/SGRA_via_imager_and_deconv.yml
Due: none

perf(deconv): correct nworkers and nthreads logic so that each band gets nthreads
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/band_worker.py
Due: update-readme

fix: correct iteration number when continuing a deconvolution
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/recipes/spotless.yml
Due: update-readme

chore: adjust sara -> spotless in example recipe
  examples/SGRA_via_imager_and_deconv.yml
Due: none

chore: more nworkers and nthreads required inputs for spotless recipe
  src/pfb_imaging/recipes/spotless.yml
Due: none

chore: wrangle some cabs into submission
  examples/SGRA_L21.yml
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/imager.py
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/recipes/spotless.yml
Due: update-readme

chore: actually add SGRA_L1 recipe
  examples/SGRA_L1.yml
Due: none

fix: change bases inputs to a list
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/cli/deconv.py
  src/pfb_imaging/cli/sara.py
Due: update-readme

build: depend on main hip-cargo branch. Fix: custom list type defaults
  pyproject.toml
  src/pfb_imaging/recipes/sara.yml
  src/pfb_imaging/recipes/spotless.yml
  uv.lock
Due: update-cli-help

chore: update container tag
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

Add minimal LLM wiki (#271)
  .claude/rules/architecture.md
  .github/workflows/ci.yml
  .github/workflows/publish-container.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  CLAUDE.md
  docs/msv4-memory-patterns.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  docs/wiki/memory-and-ray.md
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
  src/pfb_imaging/core/deconv.py
  src/pfb_imaging/operators/band_worker.py
  src/pfb_imaging/opt/fista.py
  src/pfb_imaging/opt/pcg.py
  src/pfb_imaging/opt/primal_dual.py
  uv.lock
Due: update-readme

docs: design spec for radiomesh-backed weight_data
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
Due: none

docs: sympy oracle moves to radiomesh, rarg-numba-patterns discipline
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
Due: none

docs: implementation plan for radiomesh-backed weight_data
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
Due: none

feat(weighting): radiomesh expressions replace sympy in weight_data
  pyproject.toml
  src/pfb_imaging/utils/stokes.py
  src/pfb_imaging/utils/weighting.py
  tests/test_stokes_selector.py
  uv.lock
Due: update-cli-help, update-readme

perf(weighting): cache weight_data compiles across processes
  src/pfb_imaging/utils/weighting.py
  tests/test_weight_data_cache.py
Due: update-readme

perf(hci): canonicalise weight_data inputs in stokes_image
  src/pfb_imaging/utils/stokes2im.py
  tests/test_weighting.py
Due: update-readme

test(hci): in-process cube smoke test for l2 and minvar weighting
  tests/test_hci.py
Due: none

deps: track radiomesh PR ratt-ru/radiomesh#81 head
  pyproject.toml
  uv.lock
Due: update-cli-help

chore: point container image at issue273 branch
  src/pfb_imaging/_container_image.py
  src/pfb_imaging/cabs/deconv.yml
  src/pfb_imaging/cabs/degrid.yml
  src/pfb_imaging/cabs/fluxtractor.yml
  src/pfb_imaging/cabs/grid.yml
  src/pfb_imaging/cabs/hci.yml
  src/pfb_imaging/cabs/imager.yml
  src/pfb_imaging/cabs/init.yml
  src/pfb_imaging/cabs/kclean.yml
  src/pfb_imaging/cabs/model2comps.yml
  src/pfb_imaging/cabs/restore.yml
  src/pfb_imaging/cabs/sara.yml
Due: update-readme

docs: fold specs/plans into the wiki; make docs/superpowers ephemeral
  .claude/rules/architecture.md
  .gitignore
  CLAUDE.md
  docs/look-ahead.md
  docs/superpowers/plans/2026-05-26-hci-inject-transients-test.md
  docs/superpowers/plans/2026-06-04-imager-datatree.md
  docs/superpowers/plans/2026-06-15-remove-arcae-casacore-guardrails.md
  docs/superpowers/plans/2026-06-24-imager-concat-row.md
  docs/superpowers/plans/2026-07-06-gendeconv-protocols.md
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  docs/superpowers/specs/2026-04-18-super-uniform-weighting-design.md
  docs/superpowers/specs/2026-05-26-hci-inject-transients-test-design.md
  docs/superpowers/specs/2026-06-04-imager-datatree-design.md
  docs/superpowers/specs/2026-06-24-imager-concat-row-design.md
  docs/superpowers/specs/2026-07-06-gendeconv-protocols-design.md
  docs/superpowers/specs/2026-07-10-weight-data-radiomesh-design.md
  docs/wiki/deconv-primer.md
  docs/wiki/design-decisions.md
  docs/wiki/imager-pipeline.md
  docs/wiki/index.md
  src/pfb_imaging/deconv/README.md
Due: none

chore: respond to copilot comments
  src/pfb_imaging/utils/stokes.py
Due: update-readme

build: depend on radiomesh>=0.1.2
  pyproject.toml
  uv.lock
Due: update-cli-help

feat: rename _as_weight_data_input -> as_contiguous_readonly_view, move function to utils.weighting and propagate change to init and imager sub-commands
  docs/superpowers/plans/2026-07-12-weight-data-radiomesh.md
  src/pfb_imaging/utils/stokes2im.py
  src/pfb_imaging/utils/stokes2vis.py
  src/pfb_imaging/utils/stokes2vis_msv4.py
  src/pfb_imaging/utils/weighting.py
  tests/test_weighting.py
Due: update-readme

test(weighting): import as_contiguous_readonly_view from utils.weighting in test_weighting
  tests/test_weighting.py
Due: none

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|README\.md)$
  generate-cabs: any of: ^src/hip_cargo/cli/.*\.py$
